@font-face {
  font-family: 'rpro';
  src: url('../assets/Acumin-RPro.woff') format('woff');
}
body {
  padding: 0;
  margin: 0;
  padding-top: 53px;
  background-color: #292A31;
}
.skillcontainer {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.skillcontainer .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skillcontainer .main .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.skillcontainer .main .nav div {
  width: 60px;
  height: 4px;
  background-color: #707070;
  margin: 0 10px;
}
.skillcontainer .main .nav :nth-child(3) {
  background-color: #BC9B56;
}
.skillcontainer .main > p {
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  font: normal normal normal 40px/53px Miller;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.skillcontainer .main .skills .first {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.skillcontainer .main .skills .first > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  font: normal normal medium 20px/27px rpro;
  letter-spacing: 0.8px;
  color: #BC9B56;
  margin: 12px;
  border: 3px solid #484848;
  width: 247px;
  height: 270px;
  box-sizing: border-box;
  background-color: #333333;
}
.skillcontainer .main .skills .first > div:hover {
  border: 3px solid #BC9B56;
}
.skillcontainer .main .skills .first > div.active {
  border: 3px solid #BC9B56;
}
.skillcontainer .main .span {
  margin-top: 40px;
  display: inline-block;
  text-align: center;
  line-height: 66px;
  width: 278px;
  height: 66px;
  font-size: 20px;
  font: rpro;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 0.6;
  overflow: hidden;
  box-sizing: border-box;
}
.skillcontainer .main .span > div {
  opacity: 0;
}
.skillcontainer .main .span .temp {
  display: inline-block;
  width: 278px;
  height: 66px;
  box-sizing: border-box;
  border: 3px solid #BC9B56;
}
.skillcontainer .main .confirm {
  opacity: 1;
}
.skillcontainer .main .confirm > div {
  opacity: 1;
}
.skillcontainer .main .call {
  overflow: hidden;
}
.skillcontainer .main .call:hover > div {
  transform: translate(0, -100%);
}
.skillcontainer .main .call > div {
  width: 272px;
  height: 60px;
  border: 3px solid #BC9B56;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #BC9B56;
  transform: translate(100%, -100%);
  transition: transform 0.3s ease-in-out;
  margin-top: -4px;
}
.skillcontainer .main .call > div img {
  transform: scale(0.8);
}
